* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.header {
  background-color: rgb(245, 33, 9);
  box-shadow: 4px 5px rgba(128, 128, 128, 0.488);
  margin-bottom: -5rem;
  opacity: 60%;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
}

#poke {
  min-height: 100px;
}

/* .footer {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 5px rgba(248, 9, 9, 0.488);
  opacity: 70%;
  width: 100vw;
  height: 50px;
  margin-top: -1rem;

} */

#h1 {
  display: flex;
  font-family: monospace;
  white-space: nowarp;
  border-right: 4px solid;
  width: 14ch;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 3rem;
  animation: typing 2s steps(12), blink .5s infinite step-end alternate;
  overflow: hidden
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}



.form-user {
  margin-top: 30%;
  width: 360px;
  height: 450px;
  text-align: center;
  border-radius: 20px;

}

.imgUser {
  /*------------*/
  width: 100px;
}

.img-characters {
  align-items: center;
  width: 350px;

}

.pokeball-inputUser {
  opacity: 60%;
  width: 350px;
  position: absolute;
  z-index: -1;
  margin-top: -25rem;
  border-radius: 50%;
  box-shadow: 10px 10px 20px 10px rgb(80, 78, 78);

}

#transicion {
  animation: move 10s infinite;
  animation-delay: 1000ms;
}

@keyframes move {
  0% {
    width: 350px;
  }

  25% {

    width: 250px;
  }

  50% {

    width: 300px;
  }

  25% {

    width: 350px;
    transform: translateY(2px);

  }
}

.mew-inputUser {
  position: absolute;
  margin-left: 2rem;
  width: 150px;
  margin-top: -3.5rem;
  z-index: 5;
}

#mew {
  animation: move 2s infinite;
  animation-delay: 1000ms;
  animation-name: mew;
}

@keyframes mew {
  0% {}

  25% {
    transform: translateY(1px);
    transform: translateX(2px);
  }

  50% {
    transform: translateY(10px);
    transform: translateX(4px);
  }

  25% {


    transform: translateY(2px);

  }
}





.mewtwo-inputUser {

  position: absolute;
  margin-left: 13rem;
  margin-top: -38rem;
  width: 160px;
  z-index: 4;
}



#mewtwo {
  animation: move 2s infinite;
  animation-delay: 1000ms;
  animation-name: mewtwo;
}

@keyframes mewtwo {
  0% {}

  25% {
    transform: translateY(2px);
    transform: translateX(4px);
  }

  50% {
    transform: translateY(10px);
    transform: translateX(6px);
  }

  25% {


    transform: translateY(5px);

  }
}

.Ball-Atack {
  width: 60px;
  position: absolute;
  margin-top: -37rem;
  margin-left: 13.5rem;
  z-index: 6;
  opacity: 80%;
}

.input-userName {
  height: 30px;
  width: 250px;
  border-radius: 20px;
  border: transparent;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.634);
  text-align: center;
}

.input-userName:hover {
  box-shadow: 2px 2px 2px 2px rgba(222, 48, 48, 0.634);
}

.btn-user {
  font-size: 22px;
  background-color: transparent;
  border: transparent;
  position: absolute;
  z-index: 2;
  margin-left: -2.5rem;
  margin-top: .2rem;
  color: rgb(55, 105, 224);
}


.btn-user:hover {
  color: crimson;
}


.Ball-Atack {
  animation: move 2s infinite;
  animation-delay: 1000ms;
  animation-name: ball;
}

@keyframes ball {
  0% {}

  25% {
    transform: scale(2);
  }

  50% {
    transform: translateY(20px);
    transform: translateX(20px);
  }

}

#Ball-mew {
  display: flex;
  width: 200px;
  position: absolute;
  z-index: -2;
  bottom: 1rem;
  left: 3rem;
  animation: move 8s infinite;
  animation-delay: 1000ms;
  animation-name: ball;
}

@keyframes ball {

  25% {
    transform: scale(1.5);
  }

}

 .background-search{
  margin-top: 1.7rem;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -3;
  opacity: 65%;

  }

.Search-Pokemon{
  width: 250px;
  height: 200px;
  z-index: 20;
  margin-top: -18rem;

}
.search p{

font-size: 38px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
.search input{
  text-align: center;
  display: grid;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 40px;
  margin-left: -2rem;
  place-items: center;
  box-shadow: 2px 2px 2px 2px rgba(60, 60, 60, 0.838);

}
.search button{
  font-size: 25px;
  color: crimson;
  border: none;
  background-color: transparent;
  position: absolute;
  margin-top: -1.8rem;
  margin-left: -1rem;
}

.search select{
  color: wheat;
  position: absolute;
  background-color: rgb(8, 94, 8);
  border: none;
  border-radius: 0px 20px 20px 0px;
  width: 80px;
  height: 40px;
  box-shadow: 0px 0px 1px 1px rgba(6, 255, 60, 0.838);
  margin-left: 11.7rem;
  margin-top: -2.5rem;
}
.search select:hover{
  background-color: crimson;
}

.Card-container {
margin-top: 5rem;
display: grid;
gap: 4rem;  
place-content: center;
padding-left: 2rem;
padding-right: 2rem;
 }

.Cards {
  background-color: rgba(143, 238, 122, 0.595);
  width: 350px;
  height: 270px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px 2px gray;
 
}


.normal{
  background-color: #e2e3e7bd;
}

.dark{
  background-color: #ba9df4b6;
}
.fighting{
  background-color: #ededafbb;
}
.flying{
  background-color: #d8f8e1bc;
}
.poison{
  background-color: #f25fffb8;
}
.ground{
  background-color: #fdfd96b6;
}
.rock{
  background-color: #a68069af;
}
.bug{
  background-color: #8cfca4ac;
}
.ghost{
  background-color: #bdbfbfa6;
}
.steel{
  background-color: #c4cacea9;
}
.fire{
  background-color: #fa5e49b8;
}
.water{
  background-color: #84b6f4b2;
}
.grass{
  background-color: #42ab49c4;
}
.electric{
  background-color: #f6f630aa;
}
.psychic{
  background-color: #f6d1deb0;
}
.ice{
  background-color: #0072feb1;
}
.dragon{
  background-color: #d9742cb1;
}
.fairy{
  background-color: #f74fd0b9;
}





.Cards:hover{
  animation: move 2s ease-in-out;
  animation-delay: 4ms;
  animation-name: card;
}

@keyframes card {

  25% {
    transform: scale(1.2);
  }

}




.Cards h3{
  position: absolute;
  font-size: 30px;
  margin-left: 3rem;
  
}
.list-feature{
  width: 35%;
  list-style: none;
  position: relative;
  left: 13.5rem;
  bottom: 14rem;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.list-feature li{
  background-color: rgba(240, 230, 230, 0.455);
  border-radius: 10px;
}



.img-contend{
  width: 220px;
  height: 220px;
  display: grid;
  margin-top: 3rem;
  margin-left: -.5rem;
  animation: rotate 3s linear infinite;
  transform-origin: 50% 50%;
  z-index: 1;
}

@keyframes rotate{
  0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(1turn);
}

  
}


.img-pokeCard {
    width: 170px;
    padding-top: 2rem;
    margin-left: 1rem;
    position: absolute;
    margin-top: -15rem;
    z-index: 10;
}














@media(min-width: 600px) {


  .mewtwo-inputUser {

    margin-left: 18rem;
    margin-top: -40rem;

  }

  .mew-inputUser {

    margin-left: -5rem;
    margin-top: 1rem;

  }

  .Ball-Atack {
    margin-top: -39rem;
    margin-left: 18.5rem;

  }
  .Card-container {
  
    gap: 2em;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 2rem;
    padding-right: 3rem;
  }
  }



@media(min-width: 900px) {

  #h1 {
    display: flex;
    margin-top: -10rem;
    font-size: 50px;
  }

  .mewtwo-inputUser {
    width: 250px;
    margin-left: 30rem;
    margin-top: -30rem;

  }

  .mew-inputUser {

    margin-left: -20rem;
    margin-top: -5rem;

  }

  .Ball-Atack {
    width: 100px;
    margin-top: -27.5rem;
    margin-left: 30.5rem;

  }

  .mew-inputUser {

    width: 200px;

  }


  #Ball-mew {

    width: 300px;
    bottom: 1rem;
    left: 13.5rem;
  }



.Card-container {
  
  gap: 2.5rem;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 2rem;
  padding-right: 3rem;
}
}